<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="HeaderFragment"
     class="row-cols-auto text-center bg-dark">
    <!-- forgetting the backslash in the thymeleaf command made my day like hell -->
    <img src="../static/svg/activemq.svg" th:src="@{/svg/activemq.svg}" height="200px" alt="logo"
         class="navbar-brand" crossorigin="anonymous">
    <img src="../static/svg/activemq.svg" th:src="@{/svg/spring-security.svg}" height="200px" alt="logo"
         class="navbar-brand" crossorigin="anonymous">

</div>